# Dependencias
node_modules/

# Archivos de construcción / producción
dist/
build/
.next/
out/

# Variables de entorno y llaves secretas
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de configuración del editor e imágenes del sistema
.vscode/
.idea/
.DS_Store
Thumbs.db