@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --c-text-main: #0F172A;
  --c-text-muted: #475569;
  --c-text-light: #94A3B8;
  --c-black: #000000;
  --c-white: #FFFFFF;
  --c-bg-app: #F8FAFC;
  --c-border: #E2E8F0;
  --c-brand-base: #0D9488;
  --c-brand-dark: #0F766E;
  --c-brand-light: #CCFBF1;
}

body {
  background-color: var(--c-bg-app);
  font-family: 'Inter', sans-serif;
  color: var(--c-text-main);
}